$white: #ffffff;
$white2: #f8fafc;

$blue-dark: #27334f;
$blue: #1c84ee;

$gray-dark: #525c72;
$gray: #a8b0c2;
$gray-light: #edf0f7;

$red: #eb5a46;

$orange: #fcc865;

$green: #28c397;

$colors-list: (
  white: #ffffff,
  white2: #f8fafc,
  blue-dark: #27334f,
  blue: #1c84ee,
  gray-dark: #525c72,
  gray: #a8b0c2,
  gray-light: #edf0f7,
  red: #eb5a46,
  orange: #fcc865,
  green: #28c397,
);

@each $name, $color in $colors-list {
  .bg_#{$name} {
    background: $color;
  }
}
